@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif !important;
}

.nav-link, 
.navbar-brand{
  color: #000 !important;
}

ul{
  margin-left: auto !important;
}
.navbar-nav > li{
  padding-left:7px;
  padding-right:7px;
}

.img1{
  float:right;
  width:400; 
  height:330;  
  margin-left: 50px;
}

.img2{
  float:left;
  width:400; 
  height:330;  
  margin-right: 50px;
}


.card-title{
  font-size: 20px;
  font-weight:bold ;

  
}
.img-fluid {
  border: 15px solid ;
  border-radius: 5px;
  border-color : white ;
  border-image: 0px round;
  padding: 0px;
  height:750;
}